{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col-7 col-md-6 my-auto"></div>
  </div>
</div>
{% endblock %} {% block content %}

<div class="img-fluid position-relative">
  <img class="card-img hero-img overlay-wide d-none d-lg-block" src="{{ MEDIA_URL }}tom-crew-S2WN_iXhAEQ-unsplash.jpg" alt="" />
  <!-- <img class="card-img overlay-wide d-block d-xs-none d-lg-none d-xl-none" src="{{ MEDIA_URL }}tom-crew-iUFS1GCpEbk-unsplash.jpg" alt="" /> -->
  <img class="img-size card-img overlay-wide d-block d-lg-none d-xl-none" src="{{ MEDIA_URL }}tom-crew-E64Hv5Ab_nQ-unsplash.jpg" alt="" />

  <div class="row position-absolute hero-text-top hero-text-left translate-middle">
    <div class="col-xl-5 col-lg-5 d-none d-lg-block my-auto">
      <h1 class="hero-text-color ">
        Handcrafted ceramics inspired by tradition
      </h1>
      <div class="my-5">
        <h4>
          <a href="" class="shop-now-button btn btn-lg rounded-5 text-uppercase py-3">Shop Now</a>
        </h4>
      </div>
    </div>
  </div>
</div>

<div class="coffe-menu">
  <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center">
    <div class="col-8 col-sm-4 col-md-4 col-lg-3 col-xl-3 card-space">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title text-center"><strong>Hot Coffees:</strong></h5>
          <div class="d-flex justify-content-between">
            <p>Espresso</p>
            <p>€2.50</p>
          </div>
          <div class="d-flex justify-content-between">
            <p>Americano</p>
            <p>€3.00</p>
          </div>
          <div class="d-flex justify-content-between">
            <p>Latte</p>
            <p>€4.50</p>
          </div>
          <div class="d-flex justify-content-between">
            <p>Cappuccino</p>
            <p>€4.00</p>
          </div>
          <div class="d-flex justify-content-between">
            <p>Chai</p>
            <p>€4.50</p>
          </div>
          <div class="d-flex justify-content-between">
            <p>Cortado</p>
            <p>€4.50</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8 col-sm-4 col-md-4 col-lg-3 col-xl-3 card-space">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title text-center"> <strong>Snacks:</strong></h5>
          <div class="d-flex justify-content-between">
            <p>Croissants</p>
            <p>€2.50</p>
          </div>
          <div class="d-flex justify-content-between">
            <p>Muffins</p>
            <p>€2.00</p>
          </div>
          <div class="d-flex justify-content-between">
            <p>Scones</p>
            <p>€2.50</p>
          </div>
          <div class="d-flex justify-content-between">
            <p>Cookies</p>
            <p>€1.50</p>
          </div>
          <div class="d-flex justify-content-between">
            <p>Brownies</p>
            <p>€2.50</p>
          </div>
          <div class="d-flex justify-content-between">
            <p>Cheesecake</p>
            <p>€2.50</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
