{% extends "base.html" %} {% load static %} {% load bag_tools %} {% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-7 col-md-6 my-auto"></div>
    </div>
</div>
{% endblock %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="logo-font mb-4 text-center">Shopping Bag</h2>
        </div>
    </div>

    {% if bag_items %}

    {% for item in bag_items %}
    <div class="row">
        <div class="col-md-4 col-xxl-3 d-flex justify-content-center align-items-center custom-m">
            <div class="image-container">
                <a href="{{ item.product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid rounded" style="height: 300px; width: 330px;" src="{{ item.product.image.url }}"
                        alt="{{ item.product.name }}">
                </a>
            </div>
        </div>
        <div class="col-md-3 col-xxl-3 align-self-start custom-m">
            <small class="text-center">
                <!-- logic to display a link to a category of the product -->
                {% if item.product.category == 'Vases' %}
                <a class="cat-font" href="{% url 'products' %}?category=Vases">{{ item.product.category }}</a>
                <i class="fa-solid fa-tags" style="color: #537188;"></i>
                {% elif item.product.category == 'Cups' %}
                <a class="cat-font" href="{% url 'products' %}?category=Cups">{{ item.product.category }}</a>
                <i class="fa-solid fa-tags" style="color: #537188;"></i>
                {% else %}
                <a class="cat-font" href="{% url 'products' %}?category={{ item.product.category|urlencode }}">
                    {{ item.product.category }}</a>
                <i class="fa-solid fa-tags" style="color: #537188;"></i>
                {% endif %}
            </small>
            <p class="my-2"><strong>{{ item.product.name }}</strong></p>
            {% if item.product.rating %}
            <small class="text-muted"><i class="fas fa-star mr-1 mt-1"
                    style="color: #CBB279;"></i>{{ item.product.rating }} /
                5</small>
            {% else %}
            <small class="text-muted">No Rating</small>
            {% endif %}
            <br>
            <a href="{% url 'product_detail' item.product.id %}">
                <i class="fa-solid fa-circle-info fa-xl my-5 more"></i>
            </a>
            <form class="form update-form my-3" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                {% csrf_token %}
                <div class="form-group">
                    <div class="position-relative">
                        <button class="decrement-qty btn rounded-5 minus" 
                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                            <span class="icon m-2">
                                <i class="fa-solid fa-minus fa-lg p-2" style="color: #537188;"></i>
                            </span>
                        </button>
                        <input class="rounded-5 qty_input px-5 py-2 qty-border" type="number"
                            name="quantity" value="{{ item.quantity }}" min="1" max="5"
                            data-item_id="{{ item.item_id }}"
                            id="id_qty_{{ item.item_id }}">
                        <button class="increment-qty btn rounded-5 plus"
                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                            <span class="icon m-2">
                                <i class="fa-solid fa-plus fa-lg p-2" style="color: #537188;"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
            <a class="update-link text-info"><small>Update</small></a>
            <br>
        </div>
        <div class="col-md-3 col-xxl-3"></div>
        <div class="col-md-2 col-xxl-2 d-flex flex-column">
            <a class="remove-item text-danger align-self-start mt-4" id="remove_{{ item.item_id }}"><small>Remove</small></a>
            <div class="mt-auto">
                <p class="text-finish mb-0"><strong>Sub Total:</strong></p>
                <p class="lead font-weight-bold mb-5">{{ item.product.price| calc_subtotal:item.quantity }}€</p>
            </div>
        </div>
    </div>
    <hr>
    {% endfor %}




    {% else %}
    <div class="row text-center">
        <div class="col">
            <p class="lead">Your bag is empty.</p>
            <img class="img-fluid" src="{{ MEDIA_URL }}paper-bag-5425691_1920.png" alt="empty bag">
        </div>
    </div>
    {% endif %}
    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Keep Shopping</span>
    </a>
    <div class="d-flex justify-content-center align-items-center">
        <a href="{% url 'checkout' %}" class="align-items-center">
            <button class="p-2 mt-3 shop-now-button rounded-5 my-5 text-center" type="submit">
                <strong class="text-black text-uppercase"> To Secure Checkout  <i class="fas fa-lock"></i></strong></i>  
            </button>
        </a>
    </div> 
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'product/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}