{% extends "base.html" %} {% load static %} {% load bag_tools %} {% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-7 col-md-6 my-auto"></div>
    </div>
</div>
{% endblock %} 

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="logo-font mb-4 text-center">Upcoming Workshops</h2>
        </div>
    </div>
    <div class="row">
        {% for details in workshop_details %}
        <div class="col-md-5 col-xxl-3 d-flex justify-content-center align-items-center custom-m">
            <div class="image-container">
                <a href="{{ details.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid rounded" style="height: 300px; width: 330px;" src="{{ details.image.url }}"
                        alt="{{ details.title }}">
                </a>
            </div>
        </div>
        <div class="col-md-6 col-xxl-3 align-self-start custom-m">
            <p><strong>{{ details.title }}</strong></p>
            <p><strong>Location: </strong>{{ details.location }}</p>
            <p><strong>Date: </strong>{{ details.start_time.date }}</p>
            <p><strong>From: </strong>{{ details.start_time.time }} <strong>/ </strong>{{ details.end_time.time }}</p>
            <p class="custom-m-2">Step into a world of clay and unlock your inner artist at our mesmerizing Handcrafted Pottery Workshop. It's
                time to embark on a remarkable journey of self-expression, as you immerse yourself in the therapeutic art of
                pottery. Whether you're a curious beginner or an experienced potter seeking to refine your skills, this
                workshop is designed to inspire and ignite your creative spark.</p>
        </div>
    </div>
{% endfor %}


{% endblock %}
