{% extends "base.html" %} {% load static %} {% load bag_tools %} {% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-7 col-md-6 my-auto"></div>
    </div>
</div>
{% endblock %} 

{% block content %}

<div class="row">
    {% for details in workshop_details %}
    <div class="col-md-4 col-xxl-3 d-flex justify-content-center align-items-center custom-m">
        <div class="image-container">
            <a href="{{ details.image.url }}" target="_blank">
                <img class="card-img-top img-fluid rounded" style="height: 300px; width: 330px;" src="{{ details.image.url }}"
                    alt="{{ details.title }}">
            </a>
        </div>
    </div>
    <div class="col-md-3 col-xxl-3 align-self-start custom-m">
        
    </div>
    <div class="col-md-3 col-xxl-3"></div>
    <div class="col-md-2 col-xxl-2">
       
    </div>
</div>
{% endfor %}


{% endblock %}
