{% extends "base.html" %} {% load static %} {% load bag_tools %} {% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-7 col-md-6 my-auto"></div>
    </div>
</div>
{% endblock %} 

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="logo-font mb-4 text-center">Upcoming Workshops</h2>
        </div>
    </div>
    <div class="row">
        <h1>hi</h1>
    </div>



{% endblock %}