#logo{
    height: 65px;
    top: -10px;
    position: relative;
}
.nav-clr{
    background:#fff;
}
.nav-ship{
    background-color: #EEEEEE;
}

.btn{
    --bs-btn-border-color: none;
}
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


html {
    height: 3000px;
    scroll-behavior: smooth;
}

body {
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

#navbar-scroll {
    color: #103948;
    position: fixed;
    z-index: 10;
    /* Make it stick/fixed */
    top: 0px;
    /* Stay on top */
    transition: top 0.5s;
    /* Transition effect when sliding down (and up) */
}
.header-container {
        padding-top: 164px;
}

/* __________________style text hero img__________________________ */

.hero-text-left {
    left: 37%!important;
}
.hero-text-top {
    top: 60%!important;
}
.hero-text-color {
    color: #EEEEEE;
    font-weight: 700;
}
  /* __________''__________________ */

.font-weight-bold {
    font-weight: 500!important;
}


.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: rgba(0, 0, 0, 0.2);
    min-width: 260px;
    color: #fff;
    border: 2px solid #EEEEEE;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: rgba(0, 0, 0, 0);
    color: white;
    border: 2px solid #EEEEEE;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}