#logo{
    height: 65px;
    top: -10px;
    position: relative;
}
.nav-clr{
    background:#fff;
}
.nav-ship{
    background-color: #EEEEEE;
}

.btn{
    --bs-btn-border-color: none;
}
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* _________styling the quantity input___________  */

.minus {
    left: 0px;
    bottom: 2px;
    position: absolute;
}

.plus {
    left: 80px;
    bottom: 2px;
    position: absolute;
}

.qty_input::-webkit-inner-spin-button,
.qty_input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.qty_input {
    -moz-appearance: textfield;
}
.qty-border{
    border: 2px solid #EEEEEE;
}
.qty-border:hover{
    border: 2px solid #537188;
}

/* ___________--quantity input styled! __________*/

html {
    scroll-behavior: smooth;
}

body {
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

#navbar-scroll {
    color: #103948;
    position: fixed;
    z-index: 10;
    /* Make it stick/fixed */
    top: 0px;
    /* Stay on top */
    transition: top 0.5s;
    /* Transition effect when sliding down (and up) */
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #103948BF;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #103948BF;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.mainnav-clr{
    color: #000;
}

.nav-link{
    padding: 0px;
}
.m-right {
    margin-right: 0.5rem;
}

.navbar-toggler {
    left: 10px;
    position: relative;
}
.navbar-icons-container {
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 15;
    padding: 10px;
}

  .navbar-collapse {
    padding-top: 10px;
}
.cat-font {
    color: #537188;
    text-transform: uppercase;
}
.more{
    color: #537188;
}
.form-bckg{
    background: #E1D4BB;
}

/* __________________style text/img hero img__________________________ */

.hero-text-left {
    left: 37%!important;
}
.hero-text-top {
    top: 60%!important;
}
.hero-text-color {
    color: #EEEEEE;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.hero-img{
    position: relative;
    top: -50px;
}

  /* __________''__________________ */


.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: rgba(0, 0, 0, 0.2);
    min-width: 260px;
    color: #fff;
    border: 2px solid #EEEEEE;
}
.category-btn {
    background: -moz-linear-gradient(top, #537188 0%, #A7B7C2 100%);
    background: -webkit-linear-gradient(top, #537188 0%, #A7B7C2 100%);
    background: linear-gradient(to bottom, #537188 0%, #A7B7C2 100%);
    min-width: 130px;
    color: #fff;
    display: inline-block;
    border: 2px solid #EEEEEE;
}
.category-btn:hover{
    background: #537188;
    font-weight: 600;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: rgba(0, 0, 0, 0);
    color: white;
    border: 2px solid #EEEEEE;
}

.border-black {
    border: 1px solid black !important;
}
a {
    text-decoration: unset;
}
.btn {
    --bs-btn-padding-x: none;
}
.custom-m{
    margin: 20px 0;
    text-align: justify;
}
.custom-m-2{
    text-align: justify;
}
/* Allauth form formatting */

.allauth-form-inner-content div {
    margin-top: 1rem; /* mt-4 */
}



.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #537188;
}

.allauth-form-inner-content button,

.allauth-button {
    display: flex;
    margin: auto;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    transition: color .15s ease-in-out,background-color .25s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* ______styling cafe menu__________ */

.coffe-menu{
    background: url('https://codeinstitute.s3-eu-west-1.amazonaws.com/CSSEssentials/coffee-beans.jpg') center center / cover no-repeat fixed ;
}
.card-space {
    margin-top: 150px;
    margin-bottom: 150px;
}

.cafe{
    color: #EEEEEE;
    font-size: larger;
    background-color: rgba(0, 0, 0, 0.7);
}

/* ____________-styling Bootstrap toasts____________ */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.bckg-success{
    background: #EDF3EC;
}
.bckg-danger{
    background: #F3B1B1;
}
.btn-position{
    position: absolute;
    right: 15px;
}
.bag-notification-wrapper {
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
    max-width: 100%;
    }
    .responsive-img{
        height: 430px;

    }
  

}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        margin-top: 100px;
    }
}
/* small screens */
@media (min-width: 576px) {
    .header-container {
        padding-top: 80px;
    }

}
/* extrasmall screens */
@media (max-width: 576px) {
    .header-container {
        padding-top: 100px;
    }
    .img-size {
        height: 400px;
    }
    #map{
        width:100%; 
        height: 100%;
    }
    .img-mob{
        height: 400px;

    }
    .card-space {
        margin-top: 50px;
        margin-bottom: 50px;
    }

}