<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="hover-underline-animation font-weight-bold nav-link mainnav-clr mx-4" href="{% url 'home' %}"
                id="">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="hover-underline-animation font-weight-bold nav-link mainnav-clr mx-4" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                 Shop
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'products' %}?category=Vases">Vases</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category=Cups">Cups</a>
                    <a class="dropdown-item" href="{% url 'products' %}?category={{ 'Plates & Bowls'|urlencode }}">Plates & Bowls</a>
                </li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="hover-underline-animation font-weight-bold nav-link mainnav-clr mx-4" href="#" id=""
                data-bs-toggle="dropdown" aria-expanded="false">
                Workshops
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Next Dates</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="hover-underline-animation font-weight-bold nav-link mainnav-clr mx-4" href="#" id=""
                data-bs-toggle="dropdown" aria-expanded="false">
                Blog
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="hover-underline-animation font-weight-bold nav-link mainnav-clr mx-4" href="#" id="contact-link"
                data-bs-toggle="dropdown" aria-expanded="false">
                Contact
            </a>
        </li>
    </ul>
</div>