<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all--link"
                data-bs-toggle="dropdown" aria-expanded="false">
                Cafe Menu
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link"
                data-bs-toggle="dropdown" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Vase</a>
                <a href="" class="dropdown-item">Cups</a>
                <a href="" class="dropdown-item">Plates &amp; Bowls </a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link"
                data-bs-toggle="dropdown" aria-expanded="false">
                Workshops
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Next Dates</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-bs-toggle="dropdown"
                aria-expanded="false">
                Blog
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="contact-link" data-bs-toggle="dropdown"
                aria-expanded="false">
                Contact
            </a>
        </li>
    </ul>
</div>