{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col-7 col-md-6 my-auto"></div>
  </div>
</div>
{% endblock %} {% block content %}
{% load crispy_forms_tags %}


<div class="container-fluid text-center">
    <div class="row mt-3">
        <div class="col-md-6">
            <img src="{{ blog.featured_image.url}}" class="card-img-top img-fluid d-md-none rounded"
                style="object-fit:cover; object-position: bottom;" alt="...">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 align-self-center mt-3">
            <h1 class="title-one-d">{{blog.title}}</h1>
            
            <p class="card-text">
                <small class="text-body-secondary">Published: {{ blog.created_blog|date:"dS  F Y" }} | By: {{ blog.author.first_name }} {{ blog.author.last_name }} </small>
            </p>
            <div class="d-flex justify-content-center mt-5">
                <div class="row gx-5">
                    <!-- Display likes -->
                    <strong class="likes-container">
                        {% if user.is_authenticated %}
                        <form class="d-inline" action="{% url 'blog_like' blog.pk %}" method="POST">
                             {% csrf_token %}
                             {% if liked %}
                             <button type="submit" name="blog_id" value="{{ blog.id }}" class="btn-like"><i class="fas fa-heart"></i></button>
                             {% else %}
                             <button type="submit" name="blog_id" value="{{ blog.id }}" class="btn-like"><i class="far fa-heart"></i></button>
                             {% endif %}
                        </form>
                        {% else %}
                        <span class="text-secondary"><a href="{% url 'account_login' %}"><i class="far fa-heart"></i></a></span>
                        {% endif %}
                        <span class="text-secondary">{{ number_likes }} Likes |  </span>
                    </strong>
                    
                </div>
                <div>
                    <!-- Display comments -->
                    {% with blog.comments.count as total_comments %}
                    <div class="ml-3">
                        <strong >
                            <span>  <i class="far fa-comments text-secondary"> </i><a class="text-secondary ml-3" href="#comment"> {{ total_comments }} Comments</a></span>
                        </strong>
                    </div>
                    {% endwith %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="{{ blog.featured_image.url}}" class="card-img-top img-fluid d-none d-md-block rounded"
                style="object-fit:cover; object-position: center;" alt="...">
        </div>
    </div>
</div>
<hr>
<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-xl-6">
            <h3 class="title-one mt-3">{{blog.title}}</h3>
            <div class="custom-m-2" >
                <p class="mt-3 ">{{ blog.content|safe }}</p>
            </div>
        </div>
    </div>
</div>



<div class="container text-start mt-5">
    <div class="row">
        <div class="col col-md-6">
            
            {% with blog.comments.count as total_comments %}
                <strong>
                    <h3 class="title-one" id="comment"><i class="far fa-comments text-secondary"></i><a class="text-secondary ml-3" href="#comment">{{ total_comments }} Comments:</a></h3>
                    <hr>
                </strong>
            {% endwith %}
            
            {% if user.is_authenticated %}
            {% for comment in blog.comments.all %}
                <div class="mt-1">
                    <strong>{{ comment.name }}</strong> <small>{{ comment.created_on|date:"dS  F Y" }}</small>
                    <p>{{ comment.body|linebreaks }}</p>
                    <hr>
                </div>
            {% endfor %}
            {% if not blog.comments.all %}
                <h5 class="title-one">This blog has no comments, add the first one</h5>
                <form method="POST">
                    {% csrf_token %} {{ comment_form.as_p }}
                    <button class="btn btn-secondary rounded btn-file px-2 py-1 my-3">Submit</button>
                </form>
            {% else %}
                <h4 class="title-one mt-5">Add a comment:</h4>
                <form class="mt-3" method="POST">
                    {% csrf_token %} {{ comment_form.as_p }}
                    <button class="btn btn-secondary rounded btn-file px-2 py-1 my-3">Submit</button>
                </form>
            {% endif %}
            {% endif%}
        </div>
    </div>
</div>

{% endblock %}

<script>
    // Alert message after the user comments a blog
    setTimeout(function() {
        let messages = document.getElementById("commentou");
        let alert = new bootstrap.Alert(messages);
        alert.close();
    }, 5000);
</script>